[Desktop Entry]
Name=Customfetch
Comment=Highly customizable and fast fetch program
Type=Application
Exec=customfetch-gui
Terminal=false
Categories=Viewer;GTK;
Icon=lookswitcher
Keywords=customfetch;cufetch
